@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "nimbus";
  src: url(./assets/fonts/nimbus.ttf);
}

@font-face {
  font-family: "geddes";
  src: url(./assets/fonts/Geddes.otf);
}

body {
  background-color: #bcb4ac;
  font-family: "nimbus";
}

h1 {
  font-family: "geddes";
}

@layer components {
  .error-handler {
    @apply text-red-600 normal-case text-xs font-normal italic;
  }
  .form-input {
    @apply appearance-none block w-full bg-gray-200 text-[#4F4E47] border border-gray-200 rounded mt-2 py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 max-w-lg;
  }
  .form-label {
    @apply block uppercase tracking-wide text-[#4F4E47] text-sm font-bold mb-4;
  }
  .form-structure {
    @apply w-full mb-6 text-gray-700 font-bold uppercase text-sm;
  }
  .link-icons {
    @apply text-4xl;
  }
  .contact-icons {
    @apply text-xl;
  }
  .shedules {
    @apply my-2 text-center;
  }
  .checkbox {
    @apply w-4 h-4 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600;
  }
}
